<!DOCTYPE html>
<html>
	<head>
	  <title>Pragprog Books Online Store</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body class='<%= controller.controller_name %>'>
		<div id="banner">
			<%= image_tag("logol.png") %>
			<%= @page_title || "Pragmatic Bookshelf" %>
		</div>

		<div id="columns">
			<div id="side">
				<div id="cart">
					<%= render @cart %>
				</div>

				<ul>
					<li><a href="http:www...">Home</a></li>
					<li><a href="http:www.../faq">FAQ</a></li>
					<li><a href="http:www...news">News</a></li>
					<li><a href="http:www...contact">Contact</a></li>
				</ul>
			</div>

			<div id="main">
				<%= yield %>
			</div>
			<div id="footer">
				<p>loaded at <%= Time.now.strftime("%Y-%m-%d %H:%M") %></p> 
				<% if session[:counter]>5 %>
					<p>indexed <%= pluralize(session[:counter],'time')%></p>
				<% end %>
			</div>
		</div>
	</body>
</html>
